{% extends 'myapp/pages/home.html' %}
{% load static %}

{% block title%}
<title>Final page</title>
{% endblock title%}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'myapp/css/finalpage.css' %}">
{% endblock stylesheet %}

<body>
    
    <a href="{% url 'myapp-home'%}" class="main-logo">

    <li><a href="{% url 'myapp-home'%}">Home</a></li>

{% block mainContent %}
<div id="main-content-container">
    <div id="content-container">
        <fieldset id="checkbox">
            <legend>Proteções do carro</legend>
            <h4 class="checkbox-title">Mais segurança na sua jornada</h4>
            <div class="checkbox-container">
                <input type="checkbox" name="protecao-carro" id="protecao-carro" value="34.95" onclick="sum_update(this)">
                <label for="protecao-carro">Proteção do carro R$ 34,95 / dia</label>
            </div>
                
            <div class="checkbox-container">
                <input type="checkbox" name="protecao-total-avarias" id="protecao-total-avarias" value="38.97" onclick="sum_update(this)">
                <label for="protecao-total-avarias">Proteção Total Avarias R$ 38,97 / dia</label>
                <p class="description-checkbox">
                    Para você ter a tranquilidade total, vá de Proteção Total Avarias! Com esta proteção adicional a proteção do carro e ao seguro de terceiros quando contratado, você conta com a cobertura do carro, vidros e pneus, e ainda tem 100% de isenção dos custos pré fixados de limite de danos em caso de acidente.
                </p>
            </div>

            <div class="checkbox-container">
                <input type="checkbox" name="cobertura-terceiros" id="cobertura-terceiros" value="17.90" onclick="sum_update(this)">
                <label for="cobertura-terceiros">Cobertura para terceiros R$ 17,90 / dia</label>
            </div>

            <h4 class="checkbox-title">Que tal uma proteção complementar? Selecione uma das opções:</h4>
            <div class="checkbox-container">
                <input type="checkbox" name="protecao-vidros-premium-e-pneus" id="protecao-vidros-premium-e-pneus" value="12.95" onclick="sum_update(this)">
                <label for="protecao-vidros-premium-e-pneus">Proteção de Vidros Premium e Pneus R$ 12,95 / dia</label>
                <p class="description-checkbox">
                    Essa proteção te deixa seguro com relação a danos aos vidros laterais, para-brisas, vidro traseiro, retrovisores, faróis, lanternas e/ou pneus do veículo segurado. Dessa forma, se um desses itens sofrer avarias, você tem isenção e não paga nada. Não há cobertura para roubo ou furto bem como para terceiros.
                </p>
            </div>

            <h4 class="checkbox-title">Adicionais e Acessórios</h4>
            <div class="checkbox-container">
                <input type="checkbox" name="condutor-adicional-ilimitado" id="condutor-adicional-ilimitado" value="19.95" onclick="sum_update(this)">
                <label for="condutor-adicional-ilimitado">Condutor Adicional Ilimitado R$ 19,95 / dia</label>
                <p class="description-checkbox">
                    Vai precisar que outros motoristas conduzam o veículo? Com o Condutor Adicional Ilimitado, outros condutores habilitados e indicados por você em seu contrato, podem aproveitar a experiência com você.
                </p>
            </div>

            <div class="checkbox-container">
                <input type="checkbox" name="condutor-jovem" id="condutor-jovem" value="29.95" onclick="sum_update(this)">
                <label for="condutor-jovem">Condutor Jovem R$ 29,95 / dia</label>
                <p class="description-checkbox">
                    Se você tem entre 18 e 20 anos adicione para fazer sua reserva.
                </p>
            </div>

            <div class="checkbox-container">
                <input type="checkbox" name="limpeza-garantida" id="limpeza-garantida" value="34.95" onclick="sum_update(this)">
                <label for="limpeza-garantida">Limpeza Garantida R$ 34,95 (valor único)</label>
                <p class="description-checkbox">
                    Adquira a Limpeza Garantida para ter mais praticidade na sua locação, e não se preocupe em lavar o carro para a devolução. Mas lembre-se, em caso de sujeira excessiva poderá ser necessário realizar uma lavagem especial.
                </p>
            </div>           
        </fieldset>
     
        <div class="total-price-container">
            <div class="total-price">
                <h3>Valor total previsto</h3>
                <div class="total-price-value">
                    <span>R$</span><span id="sum-result">0</span>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    function sum_update(checkbox) {
        //obter o valor do checkbox clicado
        var value_checkbox = parseFloat(checkbox.value);

        //obter o elemento onde a soma será exibida
        var sum_element = document.getElementById('sum-result')

        //obter o valor atual da soma
        var current_sum = parseFloat(sum_element.innerText);

        //atualizar a soma adicionando ou subtraindo o valor do checkbox
        if (checkbox.checked) {
            current_sum += value_checkbox;
        } else {
            current_sum -= value_checkbox;
        }


        //atualizar o texto do elemento soma formatado como moeda
        //sum_element.innerText = format_as_currency(current_sum);

        sum_element.innerText = current_sum.toFixed(2)
    }

    function format_as_currency(value) {
        return value.toLocaleString('pt-BR', {style: 'currency', currency: 'BRL'});
    }
    
</script>
{% endblock mainContent %}

</body>
</html>