{% include 'myapp/partials/head.html'%}

<body>
    {% include 'myapp/partials/header.html'%}

   <main class="main-content-container">
    <div class="main-content main-content-list container">
        
        <!--GRUPO A-->
        <div class="list-item">
            <!--TITLE-->
            <div class="card-title-container">
                <h2 class="card-title">Grupo A</h2>
            </div>
            
            <!--IMAGE-->
            <div class="item-cover">
                <img src="https://placehold.co/1280x720/03045E/png" alt="temporario">
            </div>
            
            <!--DESCRIPTION-->
            <div class="card-description">
                <span class="card-description-name">Hatches econômicos</span>
            </div>

            <!--DETAILS-->
            <div class="card-list-details">
                <ul>
                    <li>Ar-condicionado</li>
                    <li>Vidro elétrico</li>
                    <li>Trava elétrica</li>
                    <li>Air bag</li>
                    <li>Direção hidráulica</li>
                    <li>ABS</li>
                </ul>
            </div>

            <!--CARD-FOOTER-->
            <footer class="card-footer">
                <a class="card-footer-button" href="finalpage/cargroup">Escolher</a>
            </footer>
        </div>
        
        <!--GRUPO B-->
        <div class="list-item">
            <div class="card-title-container">
                <h2 class="card-title">Grupo B</h2>
            </div>
            <div class="item-cover">
                <img src="https://placehold.co/1280x720/03045E/png" alt="temporario">
            </div>
            <!--DESCRIPTION-->
            <div class="card-description">
                <span class="card-description-name">Sedans</span>
            </div>

            <!--DETAILS-->
            <div class="card-list-details">
                <ul>
                    <li>Ar-condicionado</li>
                    <li>Vidro elétrico</li>
                    <li>Trava elétrica</li>
                    <li>Air bag</li>
                    <li>Direção hidráulica</li>
                    <li>ABS</li>
                </ul>
            </div>

            <!--CARD-FOOTER-->
            <footer class="card-footer">
                <a class="card-footer-button" href="myapp/3/">Escolher</a>
            </footer>
        </div>
        
        <!--GRUPO C-->
        <div class="list-item">
            <div class="card-title-container">
                <h2 class="card-title">Grupo C</h2>
            </div>
            <div class="item-cover">
                <img src="https://placehold.co/1280x720/03045E/png" alt="temporario">
            </div>
            <!--DESCRIPTION-->
            <div class="card-description">
                <span class="card-description-name">SUVS</span>
            </div>

            <!--DETAILS-->
            <div class="card-list-details">
                <ul>
                    <li>Ar-condicionado</li>
                    <li>Vidro elétrico</li>
                    <li>Trava elétrica</li>
                    <li>Air bag</li>
                    <li>Direção hidráulica</li>
                    <li>ABS</li>
                </ul>
            </div>

            <!--CARD-FOOTER-->
            <footer class="card-footer">
                <a class="card-footer-button" href="myapp/3/">Escolher</a>
            </footer>
        </div>

    </div>

   </main>
    
</body>
</html>