<!DOCTYPE html>
<html lang="pt-BR">

    {% include 'myapp/partials/head.html'%}

<body>
    {% include 'myapp/partials/header.html'%}

   <main class="main-content-container">
    <div class="main-content main-content-list container">
        
        <div class="list-item">
            <!--TITLE-->
            <div class="card-title-container">
                <h2 class="card-title">Grupo A</h2>
            </div>
            
            <!--IMAGE-->
            <div class="item-cover">
                <img src="https://placehold.co/1280x720/03045E/png" alt="temporario">
            </div>
            
            <!--DESCRIPTION-->
            <div class="card-description">GM Onix LT 1.0</div>

            <!--DETAILS-->
            <div class="card-list-details">
                <ul>
                    <li>4 portas</li>
                    <li>Ar-condicionado</li>
                    <li>Vidro elétrico</li>
                    <li>Trava elétrica</li>
                    <li>Air bag</li>
                    <li>Direção hidráulica</li>
                    <li>ABS</li>
                    <li>5 pessoas</li>
                </ul>
            </div>
        </div>
        
        <div class="list-item">
            <div class="card-title-container">
                <h2 class="card-title">Grupo B</h2>
            </div>
            <div class="item-cover">
                <img src="https://placehold.co/1280x720/03045E/png" alt="temporario">
            </div>
        </div>
        
        <div class="list-item">
            <div class="card-title-container">
                <h2 class="card-title">Grupo C</h2>
            </div>
            <div class="item-cover">
                <img src="https://placehold.co/1280x720/03045E/png" alt="temporario">
            </div>
        </div>

    </div>

   </main>
    
</body>
</html>