{% load static %}
<!--GRUPO A-->
<div class="list-item">
    <!--TITLE-->
    <div class="card-title-container">
        <h2 class="card-title">Grupo A</h2>
    </div>
    
    <!--IMAGE-->
    <div class="item-cover">
        <img src="{% static 'myapp/images/hatch_car.jpg' %}" alt="temporario">
    </div>
    
    <!--DESCRIPTION-->
    <div class="card-description">
        <span class="card-description-name">Hatches econômicos</span>
    </div>

    <!--PRICE-->
    <div class="card-price-container">
        <span class="card-price">
            R$ 54,95 / dia
        </span>
    </div>

    <!--DETAILS-->
    <div class="card-list-details">
        <ul>
            <li>Ar-condicionado</li>
            <li>Vidro elétrico</li>
            <li>Trava elétrica</li>
            <li>Air bag</li>
            <li>Direção hidráulica</li>
            <li>ABS</li>
        </ul>
    </div>

    <!--CARD-FOOTER-->
    <footer class="card-footer">
        <a class="card-footer-button" href="{% url 'myapp-finalpage' 'grupoA' %}">Escolher</a>
    </footer>
</div>

<!--GRUPO B-->
<div class="list-item">
    <div class="card-title-container">
        <h2 class="card-title">Grupo B</h2>
    </div>
    <div class="item-cover">
        <img src="{% static 'myapp/images/sedan_car.jpg' %}" alt="temporario">
    </div>
    <!--DESCRIPTION-->
    <div class="card-description">
        <span class="card-description-name">Sedans</span>
    </div>

    <!--PRICE-->
    <div class="card-price-container">
        <span class="card-price">R$ 65,90 / dia</span>
    </div>

    <!--DETAILS-->
    <div class="card-list-details">
        <ul>
            <li>Ar-condicionado</li>
            <li>Vidro elétrico</li>
            <li>Trava elétrica</li>
            <li>Air bag</li>
            <li>Direção hidráulica</li>
            <li>ABS</li>
        </ul>
    </div>

    <!--CARD-FOOTER-->
    <footer class="card-footer">
        <a class="card-footer-button" href="{% url 'myapp-finalpage' 'grupoB' %}">Escolher</a>
    </footer>
</div>

<!--GRUPO C-->
<div class="list-item">
    <div class="card-title-container">
        <h2 class="card-title">Grupo C</h2>
    </div>
    <div class="item-cover">
        <img src="{% static 'myapp/images/suv_car.jpg' %}" alt="temporario">
    </div>
    <!--DESCRIPTION-->
    <div class="card-description">
        <span class="card-description-name">SUVS</span>
    </div>

    <!--PRICE-->
    <div class="card-price-container">
        <span class="card-price">R$ 73,70 / dia</span>
    </div>

    <!--DETAILS-->
    <div class="card-list-details">
        <ul>
            <li>Ar-condicionado</li>
            <li>Vidro elétrico</li>
            <li>Trava elétrica</li>
            <li>Air bag</li>
            <li>Direção hidráulica</li>
            <li>ABS</li>
        </ul>
    </div>

    <!--CARD-FOOTER-->
    <footer class="card-footer">
        <a class="card-footer-button" href="{% url 'myapp-finalpage' 'grupoC'%}">Escolher</a>
    </footer>
</div>
