<header class="heading">
    <div class="container">
        
        {% block linkLogo %}
        <a href="{% url "myapp-home" %}" class="main-logo">
        {% endblock linkLogo %}

            <span class="main-logo-text">ALUGA +</span>
        </a>
    </div>
    
    <nav class="main-menu">
        <ul>

            <li><a href="{% url "myapp-home" %}"><i class="fa-solid fa-house"></i>Home</a></li>
            
            <li><a href="#"><i class="fa-solid fa-car"></i> Minhas reservas</a></li>

            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i> Sair</a></li>
            

            {% else %}
                <li><a href="{% url 'login' %}"><i class="fa-solid fa-user"></i> Login</a></li>
                
                <li><a href="{% url 'register' %}"><i class="fa-solid fa-user-plus"></i> Cadastre-se</a></li>
            
            {% endif %}


        </ul>
    </nav>
</header>
